# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


graph.png
graph.svg
example_projects/*/graph.png
example_projects/*/graph.svg
example_projects/*/output/*
example_projects/01_simple/sources/big_attendance.tsv
earthmover/tests/outputs/*.jsonl