recursive-include earthmover/tests *.jsonl *.jsont *.yaml *.csv
include earthmover/VERSION.txt requirements.txt
include earthmover/include/starter_project/README.md
include earthmover/include/starter_project/earthmover.yml
